@charset "UTF-8";

body {
    background-color: rgb(146, 243, 146);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: rgb(3, 165, 44);
}

.titulo
{
text-align: center;
background-color: green;
color: white;
}

#principal {
    text-align: center;
    background-color: green;
    color: white;
    font-size: 3em;
}


.basico {
    color: green;
}

.intermediario {
    color: yellow;
}

h2.avancado {
    color: red;
}