@charset "UTF 8";

h1 {
    font-family: gelo;
    font-size: 4em;
    font-weight: 900;
    
}

h2 {
    font-family: cover;
    font-size: 2em;
    font-weight: bolder;
}

p {
    font-family: medo;
    font-size: 2em;
    font-weight: 900;
}