@charset "UTF-8";
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
background-image:linear-gradient(to right, #7E9CD9,#6F96A6,#579693);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #313135;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #0137d8;
    text-align: center;
    text-shadow: 1px 1px 3px #313030;
}
h2 {
    color: #2b59d9;
    text-shadow: 1px 1px 2px #4161BF;
}
h3 {
    color: #2B45D9;
    text-shadow: 1px 1px 2px #4161BF;
}

p {
    text-align: justify;
  
}