@charset "UTF-8";

/*Regras Gerais*/

@media print {

    main h1 {
        color: black;
        box-shadow: none;

    }
    
    img#impressora{
        display: flex;
    }

    img#phone {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }

    img#tablet {
        display: none;
    }
    ::after{
        content: 'Este site foi criado por Marcelo Vilela';
    }
}

@media screen and (min-width:767px) and (max-width:992px) {

    body {
        background: black url(../imagens/back-tablet.jpg);
        background-size: cover;
    }

    img#tablet {
        display: flex;
    }

    img#phone {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }

}

@media screen and (min-width:992px) and (max-width:1200px) {

    body {
        background: black url(../imagens/back-pc.jpg) no-repeat;
        background-size: cover;
    }

    img#pc {
        display: flex;
    }

    img#phone {
        display: none;
    }

    img#tv {
        display: none;
    }

    img#tablet {
        display: none;
    }
}

@media screen and (min-width:1200px) {

    body {
        background: black url(../imagens/back-tv.jpg);
        background-size: cover;
        background-position: center center;
    }

    img#tv {
        display: flex;
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#pc {
        display: none;
    }
}